.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.bt-danger{
  background: #de2727 !important;
}
.mr-10{
  margin-right: 10px;
}
.w-100{
  width: 100%; 
}

.w-10{
  width: 10%; 
}

.w-20{
  width: 20%; 
}

.escudo{
  height: 65px; 
}

.times{
    margin: auto;
    margin: 0 auto;
    margin-top: 22px;
    /* width: 100%; */
    height: 200px !important;
}

.title-card{
  margin-top: 20px;
}
.mh-274{
  max-height: 274px;
}

.duelo{
  width: 360px;
  margin: 0 auto;
  float: initial;
}
.result{
  font-size: 1.2em;
  font-weight: 500;
}
